<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>Chaos Computer Club Schweiz</title>
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/foundation.min.css" />
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/build/css/{{ CSS_FILE }}" />
  
  {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
  {% endif %}
  
  {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
  {% endif %}

  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Sans+Mono|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  
  <link rel="icon" href="/theme/favicon.ico" type="image/x-icon">

  <!--[if IE]>
      <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/html5.js"></script>
  <![endif]-->
</head>

<body>
  <!--{% include 'github.html' %} -->
  <section role="navigation">
    <aside id="off-canvas" class="off-canvas">
      <nav>
        <ul role="menu">
          <li>
            <a href="#">Schliessen</a>
          </li>
          {% for title, link in MENUITEMS %}
            <li>
              <a href="{{ link }}" role="menuitem">{{ title }}</a>
            </li>
          {% endfor %}

          {% if DISPLAY_PAGES_ON_MENU -%}
            {% for pg in PAGES %}
              <li{% if pg == page %} class="active"{% endif %}>
                <a href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a>
              </li>
            {% endfor %}
          {% endif %}

          {% if DISPLAY_CATEGORIES_ON_MENU -%}
            {% for cat, null in categories %}
              <li{% if cat == category %} class="active"{% endif %}>
                <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
              </li>
            {% endfor %}
          {% endif %}
        </ul>
      </nav>
    </aside>

    <a href="#" class="body-close"></a>
  </section>
  <section role="main" class="wrapper">
    <header class="row">

      <a href="#off-canvas" class=" large-1 column small-1">
        <div class="icon-burger"></div>
      </a>
      
      <!--
      <h1>
        <a href="{{ SITEURL }}/">{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a>
      </h1>
      -->
      
      <a href="{{ SITEURL }}/" class="large-11 columns small-11">
        
      </a>
    </header>

    <div class="row">

      <div class="relative">        
        <img alt="CCC CH" title="CCC CH" class=" center" src="http://www.ccc-ch.ch/img/ccc-ch.png">
        
        <h1 class="ccc">Chaos Computer Club Schweiz</h1>
        <h2 class="ccc">Schweiz | Suisse | Svizzera | Svizra</h2>
      </div>

      <main class="large-12 columns ">
        {% block content %}
        {% endblock %}
      </main>

      {#
      <section role="note" class="large-2 columns">

        {% if LINKS %}
          <div class="blogroll">
            <h2>blogroll</h2>
            <ul>
            {% for name, link in LINKS %}
                <li><a href="{{ link }}">{{ name }}</a></li>
            {% endfor %}
            </ul>
          </div><!-- /.blogroll -->
        {% endif %}

        {% if SOCIAL or FEED_ALL_ATOM or FEED_ALL_RSS %}
          <div class="social">
            <h2>social</h2>
            <ul>

              {% if FEED_ALL_ATOM %}
              <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate">atom feed</a></li>
              {% endif %}

              {% if FEED_ALL_RSS %}
              <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate">rss feed</a></li>
              {% endif %}

              {% for name, link in SOCIAL %}
                <li><a href="{{ link }}">{{ name }}</a></li>
              {% endfor %}
            </ul>

          </div><!-- /.social -->
        {% endif %}

      </section><!-- /#extras -->
      #}
    </div>
  </section>

{% include 'piwik.html' %}
</body>
</html>
